<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
<title>{{post.title}}</title> 
    <meta name="description" content="{{description}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="article" /> 
    <meta property="og:url" content="http://ron.shalit.is/posts/{{url}}" /> 
    <meta property="og:description" content="{{description}}" />
	<meta property="og:image" content="https://lh3.googleusercontent.com/-kXvo-MOeszY/AAAAAAAAAAI/AAAAAAAAAbc/bSHRKK_Vn2Q/s120-c/photo.jpg" />
</head>
	
    <body>
        {{{content}}}
        <a href="http://ron.shalit.is">Home</a>    
    </body>
</html>
